{{ 'yang-base.css' | asset_url | stylesheet_tag }}
{{ 'yang-reserve.css' | asset_url | stylesheet_tag }}

<div class="dex-main dex-reserve-main">
  <section class="dex-reserve-header">
    <div class="dex-reserve-header__box page-width">
      <div class="dex-reserve-header__box-tipImage">
        <div><img src="{{ 'yang-reserve-mob-01.png' | asset_url }}"></div>
        <div><img src="{{ 'yang-reserve-mob-02.png' | asset_url }}"></div>
      </div>
      <div class="dex-reserve-header__box-title">
        <div>Launching in Early February!</div>
      </div>
      <div class="dex-reserve-header__area1">
        <div class="dex-reserve-header__area1-left">
          <div>Reserve $5 Now & Get $50 in Value!</div>
          <div class="dex-reserve-header__area1-list">
            <div class="dex-reserve-header__area1-list-li">
              <div class="dex-reserve-header__area1-list-ico">
                <img src="{{ 'yang-reserve-03.png' | asset_url }}">
              </div>
              <div>Extra $10 off the Kickstarter price</div>
            </div>
            <div class="dex-reserve-header__area1-list-li">
              <div class="dex-reserve-header__area1-list-ico ico2">
                <img src="{{ 'yang-reserve-03.png' | asset_url }}">
              </div>
              <div>FREE FRN scale set (6 pieces) + $20 mystery gift</div>
            </div>
            <div class="dex-reserve-header__area1-list-li">
              <div class="dex-reserve-header__area1-list-ico ico3">
                <img src="{{ 'yang-reserve-03.png' | asset_url }}">
              </div>
              <div>Fully refundable—zero risk!</div>
            </div>
          </div>
          <button class="dex-reserve-header__area1-button-claim button">Claim Your Bonus Now!</button>
          <div>Click below to Follow us on Kickstarter and get notified when we go live.</div>
          <button class="dex-reserve-header__area1-button-follow button">Go To FOLLOW ON KICKSTARTEER</button>
        </div>
        <div class="dex-reserve-header__area1-right">
          {% comment %} <img src="{{ 'yang-reserve-pc-01.png' | asset_url }}"> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
</div>
