{{ 'yang-base.scss' | asset_url | stylesheet_tag }}
{{ 'yang-promotion.scss.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .dex-promotion-header {
    background-image: url({{'yang-promotion01.png'|asset_url}});
  }
{%- endstyle -%}

<div class="dex-main dex-promotion-main">
  <section class="dex-promotion-header">
    <div class="dex-promotion-wrapper page-width">
        {% comment %} {{ 'yang-promotion01.png' | asset_url }}
        {{ block.settings.image | image_url: width: 3840 | image_tag: width: '60%' }} {% endcomment %}
        {{ 'yang-promotion01.png' | asset_url | image_url: width: 3840 | image_tag : width: '60%' }}
      {% comment %} <img src="{{ 'yang-promotion1.png' | asset_urll }}" width="100%" height="100%"> {% endcomment %}
    </div>
  </section>
</div>
